# Finding nearest cell tower

In [32]:
from geopy.distance import geodesic
import pandas as pd

In [3]:
af_cell_twr_df = pd.read_csv(
    "./africa_cell_towers.csv",
    header=0,
    sep=",",
    encoding="UTF-8"
    )

af_cell_twr_df.head()

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal
0,GSM,602,3,21333,25372,0,31.056510,29.998215,23897,10,1,1459715136,1465348064,0
1,UMTS,636,1,1601,6977357,0,39.777033,10.060619,18613,12,1,1459751568,1463394399,0
2,UMTS,636,1,1702,7307199,0,37.367935,11.646194,1000,1,1,1454722314,1454722314,0
3,UMTS,636,1,1105,6912218,0,38.838730,9.021835,1000,1,1,1456714860,1456714860,0
4,UMTS,636,1,1105,6912202,0,38.838230,9.014108,1370,13,1,1459751569,1584289858,0

In [46]:
coords = [(lat, lon) for lat, lon in zip(af_cell_twr_df.lat, af_cell_twr_df.lon)]

In [47]:
def closestCellTowerFromLocation(
        origin_coordinates: tuple[float],
        cell_towers_coordinates: list[tuple[float]]
        ):
    distances_to_cell_tower = [
        geodesic(origin_coordinates, cell_tower_coordinates).m 
        for cell_tower_coordinates in cell_towers_coordinates
    ]
    minimal_distance = min(distances_to_cell_tower)
    index_of_minimal_distance = distances_to_cell_tower.index(minimal_distance)
    return(
        cell_towers_coordinates[index_of_minimal_distance],
        minimal_distance
    )

In [48]:
closestCellTowerFromLocation((5.74639, 19.12389), coords)

((5.7163238525391, 19.081192016602), 5781.2723046880965)